{{> header}}
{{> navbar}} {{!--  le indicamos que agregue la vista parcial  --}}
<div class="row">
    <div class="col-8">
        <h1>Josefina </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptatibus sed eaque placeat officiis repudiandae earum, inventore cumque omnis asperiores harum magnam nisi totam distinctio deserunt facere dignissimos debitis voluptatum.</p>
    </div>
        
    <div class="col-4">
        <img src="assets/img/Josefina-0035.jpg" alt="" class="img-thumbnail">
    </div>

</div>
{{> footer}}